<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="heliomaster.Properties.LoggingSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="heliomaster.Properties.PowerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="heliomaster.PowerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="heliomaster.Properties.PythonSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="heliomaster.Properties.DomeSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="heliomaster.Properties.MountSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="heliomaster.Properties.RemoteSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="heliomaster.Properties.CameraSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="heliomaster.Properties.WeatherSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="heliomaster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <heliomaster.Properties.LoggingSettings>
            <setting name="IsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="Debug" serializeAs="Xml">
                <value>
                    <LoggerParameters xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <IsEnabled>false</IsEnabled>
                        <Filename>heliomaster-debug.log</Filename>
                        <BackupCount>0</BackupCount>
                        <Level>Debug</Level>
                    </LoggerParameters>
                </value>
            </setting>
            <setting name="Info" serializeAs="Xml">
                <value>
                    <LoggerParameters xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <IsEnabled>false</IsEnabled>
                        <Filename>heliomaster-info.log</Filename>
                        <BackupCount>0</BackupCount>
                        <Level>Info</Level>
                    </LoggerParameters>
                </value>
            </setting>
            <setting name="Error" serializeAs="Xml">
                <value>
                    <LoggerParameters xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <IsEnabled>false</IsEnabled>
                        <Filename>heliomaster-error.log</Filename>
                        <BackupCount>0</BackupCount>
                        <Level>Error</Level>
                    </LoggerParameters>
                </value>
            </setting>
        </heliomaster.Properties.LoggingSettings>
        <heliomaster.Properties.PowerSettings>
            <setting name="MountName" serializeAs="String">
                <value>dome</value>
            </setting>
            <setting name="DomeName" serializeAs="String">
                <value>mount</value>
            </setting>
        </heliomaster.Properties.PowerSettings>
        <heliomaster.PowerSettings>
            <setting name="PowerType" serializeAs="String">
                <value>Netio</value>
            </setting>
            <setting name="MountName" serializeAs="String">
                <value>dome</value>
            </setting>
            <setting name="DomeName" serializeAs="String">
                <value>mount</value>
            </setting>
            <setting name="Netio" serializeAs="Xml">
                <value>
                    <Power xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                    </Power>
                </value>
            </setting>
        </heliomaster.PowerSettings>
        <heliomaster.Properties.PythonSettings>
            <setting name="IsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
        </heliomaster.Properties.PythonSettings>
        <heliomaster.Properties.DomeSettings>
            <setting name="DomeID" serializeAs="String">
                <value />
            </setting>
            <setting name="SlaveTolerance" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="SlaveInterval" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="SlaveCheckup" serializeAs="String">
                <value>00:30:00</value>
            </setting>
            <setting name="AlwaysSoftSlave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShutterTimeout" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="Dome" serializeAs="Xml">
                <value>
                    <Dome xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <HasPowerControl>false</HasPowerControl>
                        <IsPowerOn xsi:nil="true" />
                        <HomePosition>0</HomePosition>
                        <ParkPosition>0</ParkPosition>
                        <HomeToShutter>false</HomeToShutter>
                        <RetryShutter>false</RetryShutter>
                    </Dome>
                </value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>False</value>
            </setting>
        </heliomaster.Properties.DomeSettings>
        <heliomaster.Properties.MountSettings>
            <setting name="MountID" serializeAs="String">
                <value />
            </setting>
            <setting name="Telescope" serializeAs="Xml">
                <value>
                    <Telescope>
                    </Telescope>
                </value>
            </setting>
        </heliomaster.Properties.MountSettings>
        <heliomaster.Properties.RemoteSettings>
            <setting name="Host" serializeAs="String">
                <value>131.176.161.15</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>sun_monitor</value>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="PrivateKeyFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="InitCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="DoTransfer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoDeleteLocal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoCommand" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CommandFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginMethod" serializeAs="String">
                <value>UserPass</value>
            </setting>
            <setting name="DoInitCommand" serializeAs="String">
                <value>False</value>
            </setting>
        </heliomaster.Properties.RemoteSettings>
        <heliomaster.Properties.CameraSettings>
            <setting name="Gains" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>10</int>
                        <int>10</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="Exposures" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>20</int>
                        <int>20</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="SaveTransformed" serializeAs="String">
                <value>True</value>
            </setting>
        </heliomaster.Properties.CameraSettings>
        <heliomaster.Properties.WeatherSettings>
            <setting name="WeatherID" serializeAs="String">
                <value />
            </setting>
            <setting name="DriverRefresh" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="DoLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogFileFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="LogInterval" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="DewPoint" serializeAs="Xml">
                <value>
                    <WeatherItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <IsReversed>true</IsReversed>
                        <Min>NaN</Min>
                        <Max>NaN</Max>
                        <Unit>°C</Unit>
                        <ValueFormat>{0:F0}</ValueFormat>
                        <BoundLow>-INF</BoundLow>
                        <BoundHigh>INF</BoundHigh>
                        <BoundsReversed>false</BoundsReversed>
                        <Neglect>false</Neglect>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="SkyQuality" serializeAs="Xml">
                <value>
                    <WeatherItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <IsReversed>true</IsReversed>
                        <Min>NaN</Min>
                        <Max>NaN</Max>
                        <ValueFormat>{0:F0}</ValueFormat>
                        <IconKey>icon-thumb</IconKey>
                        <BoundLow>-INF</BoundLow>
                        <BoundHigh>INF</BoundHigh>
                        <BoundsReversed>false</BoundsReversed>
                        <Neglect>false</Neglect>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="SkyTemperature" serializeAs="Xml">
                <value>
                    <WeatherItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <IsReversed>false</IsReversed>
                        <Min>NaN</Min>
                        <Max>NaN</Max>
                        <Unit>°C</Unit>
                        <ValueFormat>{0:F1}</ValueFormat>
                        <BoundLow>-INF</BoundLow>
                        <BoundHigh>INF</BoundHigh>
                        <BoundsReversed>false</BoundsReversed>
                        <Neglect>false</Neglect>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="Temperature" serializeAs="Xml">
                <value>
                    <WeatherItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <IsReversed>true</IsReversed>
                        <Min>NaN</Min>
                        <Max>NaN</Max>
                        <Unit>°C</Unit>
                        <ValueFormat>{0:F1}</ValueFormat>
                        <BoundLow>-INF</BoundLow>
                        <BoundHigh>INF</BoundHigh>
                        <BoundsReversed>false</BoundsReversed>
                        <Neglect>false</Neglect>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="UseFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CloudCover" serializeAs="Xml">
                <value>
                    <WeatherItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <IsReversed>false</IsReversed>
                        <Min>0</Min>
                        <Max>100</Max>
                        <Unit>%</Unit>
                        <ValueFormat>{0:F0}</ValueFormat>
                        <IconKey>icon-cloud</IconKey>
                        <BoundLow>0</BoundLow>
                        <BoundHigh>100</BoundHigh>
                        <BoundsReversed>false</BoundsReversed>
                        <Neglect>false</Neglect>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="Pressure" serializeAs="Xml">
                <value>
                    <WeatherItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <IsReversed>false</IsReversed>
                        <Min>0</Min>
                        <Max>NaN</Max>
                        <Unit>hPa</Unit>
                        <ValueFormat>{0:F0}</ValueFormat>
                        <BoundLow>0</BoundLow>
                        <BoundHigh>INF</BoundHigh>
                        <BoundsReversed>false</BoundsReversed>
                        <Neglect>false</Neglect>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="RainRate" serializeAs="Xml">
                <value>
                    <WeatherItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <IsReversed>false</IsReversed>
                        <Min>0</Min>
                        <Max>NaN</Max>
                        <Unit>mm/h</Unit>
                        <ValueFormat>{0:F0}</ValueFormat>
                        <BoundLow>0</BoundLow>
                        <BoundHigh>INF</BoundHigh>
                        <BoundsReversed>false</BoundsReversed>
                        <Neglect>false</Neglect>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="SkyBrightness" serializeAs="Xml">
                <value>
                    <WeatherItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <IsReversed>true</IsReversed>
                        <Min>0</Min>
                        <Max>NaN</Max>
                        <Unit>lux</Unit>
                        <ValueFormat>{0:F0}</ValueFormat>
                        <IconKey>icon-bulb</IconKey>
                        <BoundLow>0</BoundLow>
                        <BoundHigh>INF</BoundHigh>
                        <BoundsReversed>false</BoundsReversed>
                        <Neglect>false</Neglect>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="StarFWHM" serializeAs="Xml">
                <value>
                    <WeatherItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <IsReversed>false</IsReversed>
                        <Min>0</Min>
                        <Max>NaN</Max>
                        <Unit>"</Unit>
                        <ValueFormat>{0:F0}</ValueFormat>
                        <IconKey>icon-eye</IconKey>
                        <BoundLow>0</BoundLow>
                        <BoundHigh>INF</BoundHigh>
                        <BoundsReversed>false</BoundsReversed>
                        <Neglect>false</Neglect>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="WindDirection" serializeAs="Xml">
                <value>
                    <WeatherItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <IsReversed>false</IsReversed>
                        <Min>0</Min>
                        <Max>360</Max>
                        <Unit>°</Unit>
                        <ValueFormat>{0:F0}</ValueFormat>
                        <BoundLow>0</BoundLow>
                        <BoundHigh>360</BoundHigh>
                        <BoundsReversed>false</BoundsReversed>
                        <Neglect>true</Neglect>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="WindGust" serializeAs="Xml">
                <value>
                    <WeatherItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <IsReversed>false</IsReversed>
                        <Min>0</Min>
                        <Max>NaN</Max>
                        <Unit>m/s</Unit>
                        <ValueFormat>{0:F0}</ValueFormat>
                        <BoundLow>0</BoundLow>
                        <BoundHigh>INF</BoundHigh>
                        <BoundsReversed>false</BoundsReversed>
                        <Neglect>false</Neglect>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="WindSpeed" serializeAs="Xml">
                <value>
                    <WeatherItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <IsReversed>false</IsReversed>
                        <Min>0</Min>
                        <Max>NaN</Max>
                        <Unit>m/s</Unit>
                        <ValueFormat>{0:F0}</ValueFormat>
                        <BoundLow>0</BoundLow>
                        <BoundHigh>INF</BoundHigh>
                        <BoundsReversed>false</BoundsReversed>
                        <Neglect>false</Neglect>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="Humidity" serializeAs="Xml">
                <value>
                    <WeatherItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <IsReversed>false</IsReversed>
                        <Min>0</Min>
                        <Max>100</Max>
                        <Unit>%</Unit>
                        <ValueFormat>{0:F1}</ValueFormat>
                        <BoundLow>0</BoundLow>
                        <BoundHigh>100</BoundHigh>
                        <BoundsReversed>false</BoundsReversed>
                        <Neglect>false</Neglect>
                    </WeatherItem>
                </value>
            </setting>
        </heliomaster.Properties.WeatherSettings>
        <heliomaster.Properties.Settings>
            <setting name="timelapseStopMethod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timelapseInterval" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="timelapseDurationIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="timelapseNshots" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="rateNonZero" serializeAs="String">
                <value>0.00027777778</value>
            </setting>
            <setting name="borderColor" serializeAs="String">
                <value>#FFD5DFE5</value>
            </setting>
            <setting name="colorOK" serializeAs="String">
                <value>#FF7CFC00</value>
            </setting>
            <setting name="colorWarning" serializeAs="String">
                <value>#FFFFFF00</value>
            </setting>
            <setting name="colorBad" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="Refresh" serializeAs="String">
                <value>00:00:00.5000000</value>
            </setting>
            <setting name="colorValid" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="LocalPathFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="RemotePathFormat" serializeAs="String">
                <value />
            </setting>
        </heliomaster.Properties.Settings>
    </userSettings>
</configuration>
