<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="heliomaster_wpf.Properties.PythonSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="heliomaster_wpf.Properties.DomeSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="heliomaster_wpf.Properties.MountSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="heliomaster_wpf.Properties.RemoteSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="heliomaster_wpf.Properties.CameraSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="heliomaster_wpf.Properties.WeatherSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="heliomaster_wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <heliomaster_wpf.Properties.PythonSettings>
            <setting name="IsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </heliomaster_wpf.Properties.PythonSettings>
        <heliomaster_wpf.Properties.DomeSettings>
            <setting name="DomeID" serializeAs="String">
                <value />
            </setting>
            <setting name="SlaveTolerance" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="SlaveInterval" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="SlaveCheckup" serializeAs="String">
                <value>00:30:00</value>
            </setting>
            <setting name="AlwaysSoftSlave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Dome" serializeAs="Xml">
                <value>
                    <Dome xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <ShutterTimeout>
                            <TimeSpan>00:01:00</TimeSpan>
                        </ShutterTimeout>
                    </Dome>
                </value>
            </setting>
            <setting name="ShutterTimeout" serializeAs="String">
                <value>00:01:00</value>
            </setting>
        </heliomaster_wpf.Properties.DomeSettings>
        <heliomaster_wpf.Properties.MountSettings>
            <setting name="MountID" serializeAs="String">
                <value />
            </setting>
            <setting name="Telescope" serializeAs="Xml">
                <value>
                    <Telescope>
                    </Telescope>
                </value>
            </setting>
        </heliomaster_wpf.Properties.MountSettings>
        <heliomaster_wpf.Properties.RemoteSettings>
            <setting name="Host" serializeAs="String">
                <value>131.176.161.15</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>sun_monitor</value>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="PrivateKeyFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseDir" serializeAs="String">
                <value />
            </setting>
            <setting name="DoTransfer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoDeleteLocal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoCommand" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommandFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginMethod" serializeAs="String">
                <value>UserPass</value>
            </setting>
        </heliomaster_wpf.Properties.RemoteSettings>
        <heliomaster_wpf.Properties.CameraSettings>
            <setting name="Gains" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>10</int>
                        <int>10</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="Exposures" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>20</int>
                        <int>20</int>
                    </ArrayOfInt>
                </value>
            </setting>
        </heliomaster_wpf.Properties.CameraSettings>
        <heliomaster_wpf.Properties.WeatherSettings>
            <setting name="WeatherID" serializeAs="String">
                <value />
            </setting>
            <setting name="CloudCover" serializeAs="Xml">
                <value>
                    <WeatherItem>
                        <Unit>%</Unit>
                        <Min>0</Min>
                        <Max>100</Max>
                        <IconKey>icon-cloud</IconKey>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="DewPoint" serializeAs="Xml">
                <value>
                    <WeatherItem>
                        <Unit>°C</Unit>
                        <IsReversed>true</IsReversed>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="Pressure" serializeAs="Xml">
                <value>
                    <WeatherItem>
                        <Unit>hPa</Unit>
                        <Min>0</Min>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="RainRate" serializeAs="Xml">
                <value>
                    <WeatherItem>
                        <Unit>mm/h</Unit>
                        <Min>0</Min>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="SkyBrightness" serializeAs="Xml">
                <value>
                    <WeatherItem>
                        <Unit>lux</Unit>
                        <Min>0</Min>
                        <IsReversed>true</IsReversed>
                        <IconKey>icon-bulb</IconKey>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="SkyQuality" serializeAs="Xml">
                <value>
                    <WeatherItem>
                        <IsReversed>true</IsReversed>
                        <IconKey>icon-thumb</IconKey>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="SkyTemperature" serializeAs="Xml">
                <value>
                    <WeatherItem>
                        <Unit>°C</Unit>
                        <ValueFormat>{0:F1}</ValueFormat>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="StarFWHM" serializeAs="Xml">
                <value>
                    <WeatherItem>
                        <Unit>"</Unit>
                        <Min>0</Min>
                        <IconKey>icon-eye</IconKey>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="Temperature" serializeAs="Xml">
                <value>
                    <WeatherItem>
                        <Unit>°C</Unit>
                        <IsReversed>true</IsReversed>
                        <ValueFormat>{0:F1}</ValueFormat>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="WindDirection" serializeAs="Xml">
                <value>
                    <WeatherItem>
                        <Unit>°</Unit>
                        <Min>0</Min>
                        <Max>360</Max>
                        <Neglect>true</Neglect>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="WindGust" serializeAs="Xml">
                <value>
                    <WeatherItem>
                        <Unit>m/s</Unit>
                        <Min>0</Min>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="WindSpeed" serializeAs="Xml">
                <value>
                    <WeatherItem>
                        <Unit>m/s</Unit>
                        <Min>0</Min>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="Humidity" serializeAs="Xml">
                <value>
                    <WeatherItem>
                        <Unit>%</Unit>
                        <Min>0</Min>
                        <Max>100</Max>
                        <ValueFormat>{0:F1}</ValueFormat>
                    </WeatherItem>
                </value>
            </setting>
            <setting name="DriverRefresh" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="DoLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogFileFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="LogInterval" serializeAs="String">
                <value>00:00:10</value>
            </setting>
        </heliomaster_wpf.Properties.WeatherSettings>
        <heliomaster_wpf.Properties.Settings>
            <setting name="timelapseStopMethod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timelapseInterval" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="timelapseDurationIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="timelapseNshots" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="rateNonZero" serializeAs="String">
                <value>0.00027777778</value>
            </setting>
            <setting name="borderColor" serializeAs="String">
                <value>#FFD5DFE5</value>
            </setting>
            <setting name="colorOK" serializeAs="String">
                <value>#FF7CFC00</value>
            </setting>
            <setting name="colorWarning" serializeAs="String">
                <value>#FFFFFF00</value>
            </setting>
            <setting name="colorBad" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="Refresh" serializeAs="String">
                <value>00:00:00.5000000</value>
            </setting>
            <setting name="colorValid" serializeAs="String">
                <value>#00000000</value>
            </setting>
        </heliomaster_wpf.Properties.Settings>
    </userSettings>
</configuration>